node_modules
server/node_modules
venv
dist
.git
.dockerignore
docker-compose.override.yml
npm-debug.log*
yarn-error.log*
package-lock.json
server/package-lock.json
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/env/
**/.env
**/.DS_Store
**/docker/*.log
